<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Anasayfa</title>
	<link href="../_css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<div id="mainwrapper">
		<div id="logo"> <a href="#" title="Savunma Teknolojileri Kulübü"> <img src="../_images/layout/banner1_v1.jpg" width="1000" height="171" alt=""/></a>
		</div>
        <div id="nav">
                <ul>
                	<li><a href="#">Anasayfa</a></li>
                    <li><a href="#">Hakkımızda</a></li>
                    <li><a href="#">Organizasyonlar</a></li>
                    <li><a href="#">Galeri</a></li>
                    <li><a href="#">Duyurular</a></li>
                    <li><a href="#">İletişim</a></li>
        		</ul>
        </div>
        <div id="content">Sitelayout
        </div>
        <div id="footer">
			<div id="footernav">
                <ul>
                	<h1>HIZLI ERİŞİM</h1>
                    <li><a href="#">Anasayfa</a></li>
                    <li><a href="#">Hakkımızda</a></li>
                    <li><a href="#">Organizasyonlar</a></li>
                    <li><a href="#">Galeri</a></li>
                    <li><a href="#">Duyurular</a></li>
                    <li><a href="#">İletişim</a></li>
        		</ul>
        </div>


    
	    </div>
        	
            </div>
    </body>
</html>
